// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// AdminLte
@import '~overlayScrollbars/css/OverlayScrollbars.min.css';
@import '~admin-lte/dist/css/adminlte.css';
//@import '~admin-lte/plugins/fontawesome-free/css/all.css';
@import '~font-awesome/scss/font-awesome.scss';

//@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
//@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

.color-oval {
    width: 40px; 
    height: 20px; 
    border-radius: 25px; 
    margin-right: 10px; 
    margin-bottom: 10px; 
    opacity: 0.8; 
    cursor: pointer;
}
.color-oval.active {
    border: 2px solid #000;
}

.pagination .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
} 

.card-footer .pagination {
    margin-bottom: 0;
}